* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

.header {
  display: flex;
  color: white;
  padding: 20px;
  justify-content: space-around;
  gap: 70px;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

li:hover {
  cursor: pointer;
  background-color: #3882f6;
  padding: 4px;
  border-radius: 6px;
}
.secondheader {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 40px;
}

.firstsection {
  background-color: #1f2937;
}

.heromaintext {
  width: 340px;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.secondarytext {
  width: 400px;
  font-size: 18px;
  color: #e5e7eb;
}

.signup {
  color: white;
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  width: 80px;
  padding: 10px;
}

.cat {
  border-radius: 8px;
}

.secondmain {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
  color: #1f2937;
  font-weight: 900;
}

.signup:hover {
  cursor: pointer;
}

.boxes {
  height: 200px;
  width: 200px;
  border: solid 5px #3882f6;
  margin-top: 50px;
  border-radius: 6px;
}

.boxcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  align-items: center;
}

.text {
  max-width: 200px;
  margin-top: 25px;
  text-align: center;
}
